<ol class="fl-social  ">
    <li><a href="#"><i class="icon_svg icon-home"></i></a></li>
    <li><a href="#"><i class="icon_svg icon-star"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-phone"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-smile"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-fb"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-in"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-twitter"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-youtube"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-insta"></i></a></li>    
    <li><a href="#"><i class="icon_svg icon-bars"></i></a></li>    
</ol> 