<footer>
  
   <div class="footer-1 f_up  ">
     <div class="container box-wrapper">
        <div class="box-1">
       <span>التعليقات</span>
       <a href="#" class="link">عرض جميع النتائج </a>
     </div>
        <div class="box-2">
       <!-- <lable>قم بتقييم محتوى الصفحة</lable> -->
        <div class="rating">
    
     <label for="rating-5"> <input type="radio" name="site_rating" id="rating-5"></label>
     <input type="radio" checked name="site_rating" id="rating-4">
     <label for="rating-4" ></label>
     <input type="radio" name="site_rating" id="rating-3">
     <label for="rating-3"></label>
     <input type="radio" name="site_rating" id="rating-2">
     <label for="rating-2"></label>
     <input type="radio" name="site_rating" id="rating-1">
     <label for="rating-1"></label>
     
   </div>
     </div>
     <div class="box-3">
       <!-- <lable>هل تجد هذا المحتوى مفيد؟
</lable> -->
<div class="link-box">
 <a href="#" class="tick-box tick "> <div class="icon_svg icon-tick"></div></a>
 <a href="#"  class="tick-box close"> <div class="icon close"></div></a>

</div>
     </div>
     </div>
    
   </div>
   <div class="footer-2  f_up d1">
       <div class="container box-wrapper ">
       
             <div class="box-1 ">
                <ul class="link-list">
                   <li class=" ">
                      <a title="استبيان رضا المتعاملين" id="feedbackSurveyButton" class=" ">
                       <img src="assets/images/happiness.svg">
                         استبيان رضا المتعاملين								
                      </a>
                   </li>
                   <li class="">
                      <!----> 
                      <a href="#" title="استطلاع إلكتروني" class="no-underline flex items-center uppercase font-semibold text-left text-sm xl:text-base hover:text-gold text-black">
                         <div class=" ">
                            <img src="assets/images/graph.svg">
                         </div>
                         استطلاع إلكتروني								
                      </a>
                   </li>
                   <li class="">
                      <a href="tel:800552255" title="اتصل بنا: 800552255" class="no-underline flex items-center text-black uppercase font-semibold text-left text-sm xl:text-base hover:text-gold">
                         <div class="text-gold">
                           <img src="assets/images/phone.svg">
                         </div>
                         اتصل بنا: 800552255
                      </a>
                   </li>
                </ul>
             </div>
             <div class="box-2">
                <ul class="icon-list">
                   <li class="mr-6"><img src="assets/images/MS_App_QR_Code.png" alt="QR" class="bg-white-important h-12"></li>
                   <li class="mr-6"><a href="https://u.ae/" title="https://u.ae/" aria-label="https://u.ae/" target="_blank" rel="noopener noreferrer"><img src="assets/images/u-ae-logo.png" alt="Logo of https://u.ae/" class="bg-white-important h-12"></a></li>
                   <li><a href="https://ncrm.government.ae/" title="https://ncrm.government.ae/" aria-label="https://ncrm.government.ae/" target="_blank"><img src="assets/images/tawasul-logo-180-65.png" alt="Logo of https://ncrm.government.ae/" class="bg-white-important h-12"></a></li>
                </ul>
             </div>
       
       </div>
           </div>
           <div class="footer-3  f_up d2">
               <div class="container">
                 <div class="swiper footer-slide">
                       <div class="swiper-wrapper">
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/uaesdgs-1.jpg" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                          
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/working-en-1.jpg" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                          
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/alameen-new-logo-1.jpg" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                          
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/bayanati-ar.jpg" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                          
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/SKGEP-Logo.png" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/sharik-ar.jpg" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                         <div class="swiper-slide">
                             <div class="img-wrapper   "> 
                               <div data-background="assets/images/GEM-2.0-Logo.png" class="img_ bg-image swiper-lazy "></div>
                             </div>
                         </div>
                          
                       </div>
                       <div class="swiper-pagination"></div>
                     </div>
               </div>
               
             </div>

             <div class="footer-4  f_up d3">
     
               <div class="container">
                  <div class="link-container">
                     <div class="box-1">
                        <div class="links-1">
                           <ul class="list-reset -mb-4">
                              <li class="mb-2"><a title="&ZeroWidthSpace;خريطة &ZeroWidthSpace;الموقع+" href="https://www.mcy.gov.ae/ar/sitemap" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">&ZeroWidthSpace;خريطة &ZeroWidthSpace;الموقع+</a></li>
                              <li class="mb-2"><a title="إحصائيات" href="https://www.mcy.gov.ae/ar/statistics" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">إحصائيات</a></li>
                              <li class="mb-2"><a title="الأرشيف" href="https://www.mcy.gov.ae/ar/archive" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">الأرشيف</a></li>
                              <li class="mb-2"><a title="الاسئلة الشائعة" href="https://www.mcy.gov.ae/ar/faq" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">الاسئلة الشائعة</a></li>
                              <li class="mb-2"><a title="الوظائف" href="https://www.federalerp.gov.ae/OA_HTML/RF.jsp?function_id=14296&amp;resp_id=23350&amp;resp_appl_id=800&amp;security_group_id=0&amp;lang_code=AR&amp;params=yfsHe4d0DClZ92eyr9xeaws35loUJz2GmcJlQGZ3FzTQMnwBjUiLPGezrA9G6Vso" target="_blank" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">الوظائف</a></li>
                              <li class="mb-2"><a title="الشروط والأحكام" href="https://www.mcy.gov.ae/ar/terms-conditions" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">الشروط والأحكام</a></li>
                           </ul>
                        </div>
                        <div  class="links-2">
                           <ul class="list-reset -mb-4">
                              <li class="mb-2"><a title="" href="https://www.mcy.gov.ae/ar/privacy-policy" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">سياسة الخصوصية</a></li>
                              <li class="mb-2"><a title="سياسة الخصوصية" href="https://www.mcy.gov.ae/ar/disclaimer" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">إخلاء مسؤولية</a></li>
                              <li class="mb-2"><a title="سهولة التصفح" href="https://www.mcy.gov.ae/ar/accessibility" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">سهولة التصفح</a></li>
                              <li class="mb-2"><a title="سياسة حقوق النسخ" href="https://www.mcy.gov.ae/ar/copyright-policy" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">سياسة حقوق النسخ</a></li>
                              <li class="mb-2"><a title="دليل الاستخدام" href="https://www.mcy.gov.ae/ar/wp-content/themes/mckd-ar/etc/mckd-user-manual.pdf" download="" class="no-underline text-xsm font-medium text-gold uppercase hover:underline">دليل الاستخدام</a></li>
                           </ul>
                        </div>
                        <div class="links-3">
                           <ul class="footer-file-link">
                              <li >
                                 <a title="Customer Happiness Charter" href="https://www.mcy.gov.ae/ar/wp-content/themes/mckd-ar/public/files/customer-happiness-chapter.pdf" class="no-underline text-black flex items-center lg:text-sm font-medium uppercase hover:text-gold">
                                    <img src="assets/images/pdf.svg">
                                    Customer Happiness Charter									
                                 </a>
                              </li>
                              <li  >
                                 <a title="معادلة إسعاد المتعاملين" href="https://www.mcy.gov.ae/ar/wp-content/themes/mckd-ar/public/files/customer-happiness-formula.pdf" class="no-underline text-black flex items-center lg:text-sm font-medium uppercase hover:text-gold">
                                 <img src="assets/images/pdf.svg">
                                    معادلة إسعاد المتعاملين									
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="box-2">
                        <form  class=" fomr-v3">
                            <label  class=" ">
                              الاشتراك بالنشرة الإخبارية									</label> 
                           <div class="input_box  "> 
                             <div class="input-field ">
                            
                              
                                 <input required="required" type="text" id="email" placeholder="البريد الإلكتروني" name="email" class="a "  > <input type="submit"   value="إشتــــرك"> <!---->
                               
                             </div>
                              
                              
                           </div>
                        </form>
                        <div class="bottom-icons">
                          <img src="assets/images/pay.svg">
                          <img src="assets/images/iphone.svg">
                        </div>
                     </div>
                  </div>
               </div>
             
                </div>
                <div class="footer-5  f_up d4">
                   <div class="container">
                    <div class="flex flex-wrap"><p  >لضمان أفضل تجربة تصفح يرجى ضبط دقة الشاشة على 1024x768. الموقع يدعم المتصفحات التالية إنترنت إكسبلورر (11.0+)، فايرفوكس (10.0+)، سفاري (1.2+)، جوجل كروم (12.0).							</p><p class="xl:block">
                                                                                    حقوق التأليف والنشر © 2012-2021 وزارة الثقافة والشباب، الإمارات العربية المتحدة. جميع الحقوق محفوظة.
                                                                            </p></div>  
                   </div>
                 </div>
   </footer>