<header id="header">
    <div class="notification">
      <div class="container">
        <div class="not-wrapper">
          <div class="text">
            <ul>
  
              <li class="not-icon"><img src="assets/images/speaker.svg"></li>
              <li>
                <h4>الإشعارات</h4>
              </li>
            </ul>
          </div>
          <div class="not-text">
            <p></p>
          </div>
          <a class="not-close" data-close-note>
            <div class="icon close"></div>
          </a>
        </div>
  
  
  
      </div>
  
    </div>
    <div class="navbar ">
  
  
  
  
      <div class="menu-row">
  
        <div class="mbox-2 " id="master_menu">
          <nav class="navbar-inner ">
  
            <div class="side-box">
              <div class="barnd_box right-menu">
  
                <ul>
  
  
  
                  <li class="res_mob">
                    <button class="menu_trigger hamburglar" data-traget="master_menu">
                      <div class="burger-icon">
                        <div class="burger-container">
                          <span class="burger-bun-top"></span>
                          <span class="burger-filling"></span>
                          <span class="burger-bun-bot"></span>
                        </div>
                      </div>
  
  
                    </button>
                  </li> 
                  <li><a class="search-top"><svg class="svg-stroke" role="img" fill="none" fill-rule="nonzero"
                    stroke="currentColor" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                    <circle cx="11.5" cy="11.5" r="10.5"></circle>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20 19l7 8"></path>
                  </svg></a>
                <div class="search-box">
                  <form class=" fomr-v3">

                    <div class="input_box  ">
                      <div class="input-field ">


                        <input required="required" type="text" id="email" placeholder="" name="search" class="search">

                      </div>


                    </div>
                  </form>
                </div>
              </li>                   
                </ul>
              </div>
            </div>
  
            <ul class="navbar-nav ">
  
              <li>
                <button class="mn_link lang_ " (click)="useLanguage('en')" title=""><span> EN</span></button>
            </li>   
            <li>
              <button class="mn_link lang_ " (click)="useLanguage('ar')" title=""><span> AR</span></button>
            </li>  
            <li class="hidden lg:inline-block relative" style="top: 3px;"><a href="login" class="no-underline text-dark block text-sm uppercase hover:text-gold ">
              Sign In </a></li>                                
            <li class="nav-item  m-settings ">
                <a class="nav-link font-dcr " data-href="#home" aria-title=""><svg role="img" viewBox="0 0 16 10"
                    version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    class="ac-font svg">
                    <g id="Style-Guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="style-guide---c" transform="translate(-984.000000, -3619.000000)" fill="currentColor"
                        fill-rule="nonzero">
                        <g id="Header" class="svg-fill" transform="translate(0.000000, 3587.000000)">
                          <g transform="translate(588.000000, 0.000000)" id="top---settings">
                            <g transform="translate(223.000000, 29.000000)">
                              <g id="settings---icons" transform="translate(0.000000, 3.000000)">
                                <g id="Group-10" transform="translate(173.000000, 0.000000)">
                                  <polygon id="Line-2-Copy"
                                    points="15.6198347 4 10 4 10 5.40495868 15.6198347 5.40495868"></polygon>
                                  <path
                                    d="M6.48284155,7.66278732 L2.61371707,7.66278732 L1.8042194,9.9883781 L0,9.9883781 L3.77308239,0 L5.33033639,0 L9.11027893,9.9883781 L7.29919938,9.9883781 L6.48284155,7.66278732 Z M3.10078771,6.26331676 L5.99577092,6.26331676 L4.54827931,2.11978629 L3.10078771,6.26331676 Z"
                                    id="A"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg></a>
              </li>
              <li class="nav-item  m-settings">
                <a class="nav-link font-inr" data-href="#home" aria-title=""><svg role="img" viewBox="0 0 16 10"
                    version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    class="ac-font svg">
                    <g id="Style-Guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="style-guide---c" transform="translate(-954.000000, -3619.000000)" fill="currentColor"
                        fill-rule="nonzero">
                        <g id="Header" class="svg-fill" transform="translate(0.000000, 3587.000000)">
                          <g transform="translate(588.000000, 0.000000)" id="top---settings">
                            <g transform="translate(223.000000, 29.000000)">
                              <g id="settings---icons" transform="translate(0.000000, 3.000000)">
                                <g id="Group-11" transform="translate(143.000000, 0.000000)">
                                  <polygon id="Line-2" points="12 2 12 7.33333333 13.4049587 7.33333333 13.4049587 2">
                                  </polygon>
                                  <polygon id="Line-2" points="15.6198347 4 10 4 10 5.33333333 15.6198347 5.33333333">
                                  </polygon>
                                  <path
                                    d="M6.48284155,7.27213542 L2.61371707,7.27213542 L1.8042194,9.47916667 L0,9.47916667 L3.77308239,0 L5.33033639,0 L9.11027893,9.47916667 L7.29919938,9.47916667 L6.48284155,7.27213542 Z M3.10078771,5.94401042 L5.99577092,5.94401042 L4.54827931,2.01171875 L3.10078771,5.94401042 Z"
                                    id="A"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg></a>
              </li>
            </ul>
            <ul class="navbar-nav setting-ul">
                <li class="nav-item settings-tab ">
                    <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" viewBox="0 0 27.3 27.3" style="enable-background:new 0 0 27.3 27.3;" xml:space="preserve">
                        <style type="text/css">
                          .st0 {
                            display: none;
                          }
      
                          .st1 {
                            display: inline;
                          }
      
                          .st2 {
                            fill: #B08B43;
                          }
      
                          .st3 {
                            display: inline;
                            fill: #B08B43;
                          }
                        </style>
                        <g id="Layer_1" class="st0">
                          <g class="st1">
                            <path class="st2" d="M25.6,12.8l-10-10.1L14.9,2c-0.8-0.7-2-0.7-2.7,0.2c-0.3,0.4-0.4,0.4-0.5,0.5L1.6,12.8c-0.4,0.4-0.4,1,0,1.4
                  c0.4,0.4,1,0.4,1.4,0l0.8-0.8v9.2c0,1.6,1.3,2.9,2.9,2.9H12c0,0,0,0,0,0v-8.8h3.4v8.8c0,0,0,0,0,0h4.3c2.1,0,3.8-1.7,3.8-3.8
                  c0-0.5-0.4-1-1-1c-0.7,0-1.2,0.8-0.8,1.5c0.4,0.6-0.2,1.4-0.9,1.4l-3.6,0v-8.8c0,0,0,0,0,0h-7.2v8.8H6.6c-0.5,0-1-0.4-1-1V11.5
                  c0,0,0,0,0,0l7.4-7.4c0.4-0.3,0.9-0.3,1.2,0l7.3,7.3v10.3c0,0.5,0.4,1,1,1s1-0.4,1-1v-8.4l0.8,0.8c0.2,0.2,0.4,0.3,0.7,0.3
                  c0.2,0,0.5-0.1,0.7-0.3C26,13.8,26,13.1,25.6,12.8" />
                          </g>
                        </g>
                        <g id="Layer_2" class="st0">
                          <path id="XMLID_145_" class="st3" d="M24.4,20.8c0.5,0,0.9-0.4,0.9-0.9v-6.5c0-2-1.6-3.6-3.6-3.6h-1.4V2.9c0-0.5-0.4-0.9-0.9-0.9H8
              C7.5,2,7.1,2.4,7.1,2.9v6.8H5.7c-2,0-3.6,1.6-3.6,3.6v6.5c0,2,1.6,3.6,3.6,3.6h1.4v0.9c0,0.5,0.4,0.9,0.9,0.9h11.4
              c0.5,0,0.9-0.4,0.9-0.9v-0.9h1.4c2,0,3.6-1.6,3.6-3.6c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9c0,1-0.8,1.8-1.8,1.8h-1.4v-3.8
              h0.5c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9H6.6c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h0.5v3.8H5.7c-1,0-1.8-0.8-1.8-1.8v-6.5
              c0-1,0.8-1.8,1.8-1.8h16c1,0,1.8,0.8,1.8,1.8v6.5C23.5,20.3,23.9,20.8,24.4,20.8 M8.9,17.9h9.5v5.6H8.9V17.9z M18.4,9.7H8.9V3.9
              h9.5V9.7z" />
                        </g>
                        <g id="Layer_3" class="st0">
                          <path id="XMLID_149_" class="st3" d="M24.4,20.9c0.5,0,0.9-0.4,0.9-0.9V9.1c0-2-1.7-3.7-3.7-3.7H5.4c-2,0-3.7,1.7-3.7,3.7v10.7
              c0,2,1.7,3.7,3.7,3.7h16.2c2,0,3.7-1.7,3.7-3.7c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,1-0.8,1.8-1.8,1.8H5.4
              c-1,0-1.8-0.8-1.8-1.8V9.2l8,5c0.6,0.4,1.3,0.6,1.9,0.6c0.7,0,1.3-0.2,1.9-0.6l8-5v10.7C23.5,20.5,23.9,20.9,24.4,20.9 M14.5,12.7
              c-0.6,0.4-1.3,0.4-1.9,0L4.3,7.6C4.6,7.3,5,7.2,5.4,7.2h16.2c0.4,0,0.8,0.1,1.1,0.3L14.5,12.7z" />
                        </g>
                        <g id="Layer_4">
                          <path id="XMLID_156_" class="st2"
                            d="M13.9,8.5c-3.1,0-5.6,2.5-5.6,5.6s2.5,5.6,5.6,5.6c0.6,0,1.1-0.1,1.7-0.3
              c0.5-0.2,0.8-0.7,0.6-1.2c-0.2-0.5-0.7-0.8-1.2-0.6c-0.4,0.1-0.7,0.2-1.1,0.2c-2,0-3.7-1.6-3.7-3.7c0-2,1.6-3.7,3.7-3.7
              c2,0,3.7,1.6,3.7,3.7c0,0.3,0,0.7-0.1,1c-0.1,0.5,0.1,1,0.7,1.2s1-0.1,1.2-0.7c0.1-0.5,0.2-1,0.2-1.6C19.5,11,17,8.5,13.9,8.5" />
                          <path id="XMLID_153_" class="st2" d="M23.4,10.7h-0.5c-0.1,0-0.2-0.1-0.3-0.2l0,0c-0.1-0.1,0-0.3,0.1-0.4L23,9.7
              c1.1-1.1,1.1-3,0-4.1L22.3,5c-0.5-0.5-1.3-0.8-2-0.8c-0.8,0-1.5,0.3-2,0.8l-0.3,0.3c-0.1,0.1-0.2,0.1-0.4,0.1l0,0
              c-0.1-0.1-0.2-0.2-0.2-0.3V4.6c0-1.6-1.3-2.9-2.9-2.9h-1c-1.6,0-2.9,1.3-2.9,2.9v0.5c0,0.1-0.1,0.2-0.2,0.3l0,0
              c-0.1,0.1-0.3,0-0.4-0.1L9.7,5c-0.5-0.5-1.3-0.8-2-0.8c-0.8,0-1.5,0.3-2,0.8L4.9,5.7c-1.1,1.1-1.1,3,0,4.1l0.3,0.3
              c0.1,0.1,0.1,0.2,0.1,0.4l0,0c-0.1,0.1-0.2,0.2-0.3,0.2H4.5c-1.6,0-2.9,1.3-2.9,2.9v1c0,1.6,1.3,2.9,2.9,2.9H5
              c0.1,0,0.2,0.1,0.3,0.2l0,0c0.1,0.1,0,0.3-0.1,0.4l-0.3,0.3c-0.5,0.5-0.8,1.3-0.8,2c0,0.8,0.3,1.5,0.8,2l0.7,0.7
              c0.5,0.5,1.3,0.8,2,0.8c0.8,0,1.5-0.3,2-0.8l0.3-0.3c0.1-0.1,0.2-0.1,0.4-0.1l0,0c0.1,0.1,0.2,0.2,0.2,0.3v0.5
              c0,1.6,1.3,2.9,2.9,2.9h1c1.6,0,2.9-1.3,2.9-2.9V23c0-0.1,0.1-0.2,0.2-0.3l0,0c0.1-0.1,0.3,0,0.4,0.1l0.3,0.3
              c0.5,0.5,1.3,0.8,2,0.8c0.8,0,1.5-0.3,2-0.8l0.7-0.7c0.5-0.5,0.8-1.3,0.8-2c0-0.8-0.3-1.5-0.8-2L22.6,18c-0.1-0.1-0.1-0.2-0.1-0.4
              l0,0c0.1-0.1,0.2-0.2,0.3-0.2h0.5c1.6,0,2.9-1.3,2.9-2.9v-1C26.2,12,24.9,10.7,23.4,10.7 M24.3,14.5c0,0.5-0.4,1-1,1h-0.5
              c-0.9,0-1.7,0.5-2.1,1.4l0,0c-0.4,0.8-0.2,1.8,0.5,2.4l0.3,0.3c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7l-0.7,0.7
              c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3l-0.3-0.3c-0.6-0.6-1.6-0.8-2.5-0.5l0,0c-0.8,0.4-1.4,1.2-1.4,2.1v0.5
              c0,0.5-0.4,1-1,1h-1c-0.5,0-1-0.4-1-1V23c0-0.9-0.5-1.7-1.4-2.1l0,0c-0.3-0.1-0.6-0.2-0.9-0.2c-0.6,0-1.2,0.2-1.6,0.7l-0.3,0.3
              C8.1,21.9,7.9,22,7.6,22c-0.3,0-0.5-0.1-0.7-0.3L6.3,21C6.1,20.8,6,20.6,6,20.4c0-0.3,0.1-0.5,0.3-0.7l0.3-0.3
              c0.6-0.6,0.8-1.6,0.5-2.4l0,0C6.7,16,5.9,15.5,5,15.5H4.5c-0.5,0-1-0.4-1-1v-1c0-0.5,0.4-1,1-1H5c0.9,0,1.7-0.5,2.1-1.4l0,0
              c0.4-0.8,0.2-1.8-0.5-2.5L6.3,8.4C5.9,8,5.9,7.4,6.3,7l0.7-0.7c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0.3,0.3
              c0.6,0.6,1.6,0.8,2.5,0.5l0,0c0.8-0.3,1.4-1.2,1.4-2.1V4.6c0-0.5,0.4-1,1-1h1c0.5,0,1,0.4,1,1v0.5c0,0.9,0.5,1.7,1.4,2.1l0,0
              c0.8,0.4,1.8,0.2,2.5-0.5l0.3-0.3c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3L21.6,7c0.4,0.4,0.4,1,0,1.4l-0.3,0.3
              c-0.6,0.6-0.8,1.6-0.5,2.4l0,0c0.3,0.8,1.2,1.4,2.1,1.4h0.5c0.5,0,1,0.4,1,1V14.5z" />
                          <path id="XMLID_152_" class="st2" d="M19.5,14c0-3.1-2.5-5.6-5.6-5.6S8.4,11,8.4,14c0,0.6,0.1,1.1,0.3,1.7c0.2,0.5,0.7,0.8,1.2,0.6
              c0.5-0.2,0.8-0.7,0.6-1.2c-0.1-0.4-0.2-0.7-0.2-1.1c0-2,1.6-3.7,3.7-3.7c2,0,3.7,1.6,3.7,3.7c0,2-1.6,3.7-3.7,3.7
              c-0.3,0-0.7,0-1-0.1c-0.5-0.1-1,0.1-1.2,0.7c-0.1,0.5,0.1,1,0.7,1.2c0.5,0.1,1,0.2,1.6,0.2C17,19.6,19.5,17.1,19.5,14" />
                        </g>
                      </svg>
                    </a>
                    <ul class="settings">
                      <!-- <li><a href="#"> <icon class="icon_svg icon-sound"></icon></a></li> -->
                      <li><a href="#">                          
                        </a>
                        <ul class="site-colors">
      
      
                          <li><a class="clr red" data-color="site-red"> </a></li>
                          <li><a class="clr black" data-color="site-black"> </a></li>
                          <li><a class="clr green" data-color="site-green"> </a></li>
                          <li><a class="clr brand" data-color="site-brand"> </a></li>
                        </ul>                        
                      </li>
                      </ul>
                  </li>              
              <li><a href="#" class="dark-switch">
                  </a>
              </li>
              <li class="nav-item  ">
                <a href="mailto:info@mcy.gov.ae" class="nav-link  " data-href="#home" aria-title=""><svg version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 27.3 27.3" style="enable-background:new 0 0 27.3 27.3;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        display: none;
                      }
    
                      .st1 {
                        display: inline;
                      }
    
                      .st2 {
                        fill: #B08B43;
                      }
    
                      .st3 {
                        display: inline;
                        fill: #B08B43;
                      }
                    </style>
                    <g id="Layer_1" class="st0">
                      <g class="st1">
                        <path class="st2" d="M25.6,12.8l-10-10.1L14.9,2c-0.8-0.7-2-0.7-2.7,0.2c-0.3,0.4-0.4,0.4-0.5,0.5L1.6,12.8c-0.4,0.4-0.4,1,0,1.4
    			c0.4,0.4,1,0.4,1.4,0l0.8-0.8v9.2c0,1.6,1.3,2.9,2.9,2.9H12c0,0,0,0,0,0v-8.8h3.4v8.8c0,0,0,0,0,0h4.3c2.1,0,3.8-1.7,3.8-3.8
    			c0-0.5-0.4-1-1-1c-0.7,0-1.2,0.8-0.8,1.5c0.4,0.6-0.2,1.4-0.9,1.4l-3.6,0v-8.8c0,0,0,0,0,0h-7.2v8.8H6.6c-0.5,0-1-0.4-1-1V11.5
    			c0,0,0,0,0,0l7.4-7.4c0.4-0.3,0.9-0.3,1.2,0l7.3,7.3v10.3c0,0.5,0.4,1,1,1s1-0.4,1-1v-8.4l0.8,0.8c0.2,0.2,0.4,0.3,0.7,0.3
    			c0.2,0,0.5-0.1,0.7-0.3C26,13.8,26,13.1,25.6,12.8" />
                      </g>
                    </g>
                    <g id="Layer_2" class="st0">
                      <path id="XMLID_145_" class="st3" d="M24.4,20.8c0.5,0,0.9-0.4,0.9-0.9v-6.5c0-2-1.6-3.6-3.6-3.6h-1.4V2.9c0-0.5-0.4-0.9-0.9-0.9H8
    		C7.5,2,7.1,2.4,7.1,2.9v6.8H5.7c-2,0-3.6,1.6-3.6,3.6v6.5c0,2,1.6,3.6,3.6,3.6h1.4v0.9c0,0.5,0.4,0.9,0.9,0.9h11.4
    		c0.5,0,0.9-0.4,0.9-0.9v-0.9h1.4c2,0,3.6-1.6,3.6-3.6c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9c0,1-0.8,1.8-1.8,1.8h-1.4v-3.8
    		h0.5c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9H6.6c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h0.5v3.8H5.7c-1,0-1.8-0.8-1.8-1.8v-6.5
    		c0-1,0.8-1.8,1.8-1.8h16c1,0,1.8,0.8,1.8,1.8v6.5C23.5,20.3,23.9,20.8,24.4,20.8 M8.9,17.9h9.5v5.6H8.9V17.9z M18.4,9.7H8.9V3.9
    		h9.5V9.7z" />
                    </g>
                    <g id="Layer_3">
                      <path id="XMLID_149_" class="st2" d="M24.4,20.9c0.5,0,0.9-0.4,0.9-0.9V9.1c0-2-1.7-3.7-3.7-3.7H5.4c-2,0-3.7,1.7-3.7,3.7v10.7
    		c0,2,1.7,3.7,3.7,3.7h16.2c2,0,3.7-1.7,3.7-3.7c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9c0,1-0.8,1.8-1.8,1.8H5.4
    		c-1,0-1.8-0.8-1.8-1.8V9.2l8,5c0.6,0.4,1.3,0.6,1.9,0.6c0.7,0,1.3-0.2,1.9-0.6l8-5v10.7C23.5,20.5,23.9,20.9,24.4,20.9 M14.5,12.7
    		c-0.6,0.4-1.3,0.4-1.9,0L4.3,7.6C4.6,7.3,5,7.2,5.4,7.2h16.2c0.4,0,0.8,0.1,1.1,0.3L14.5,12.7z" />
                    </g>
                  </svg>
                </a>
              </li>
    
              <li class="nav-item  ">
                <a href="javascript:window.print()" class="nav-link " data-href="#home" aria-title=""><svg version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 27.3 27.3" style="enable-background:new 0 0 27.3 27.3;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        display: none;
                      }
    
                      .st1 {
                        display: inline;
                      }
    
                      .st2 {
                        fill: #B08B43;
                      }
                    </style>
                    <g id="Layer_1" class="st0">
                      <g class="st1">
                        <path class="st2" d="M25.6,12.8l-10-10.1L14.9,2c-0.8-0.7-2-0.7-2.7,0.2c-0.3,0.4-0.4,0.4-0.5,0.5L1.6,12.8c-0.4,0.4-0.4,1,0,1.4
    			c0.4,0.4,1,0.4,1.4,0l0.8-0.8v9.2c0,1.6,1.3,2.9,2.9,2.9H12c0,0,0,0,0,0v-8.8h3.4v8.8c0,0,0,0,0,0h4.3c2.1,0,3.8-1.7,3.8-3.8
    			c0-0.5-0.4-1-1-1c-0.7,0-1.2,0.8-0.8,1.5c0.4,0.6-0.2,1.4-0.9,1.4l-3.6,0v-8.8c0,0,0,0,0,0h-7.2v8.8H6.6c-0.5,0-1-0.4-1-1V11.5
    			c0,0,0,0,0,0l7.4-7.4c0.4-0.3,0.9-0.3,1.2,0l7.3,7.3v10.3c0,0.5,0.4,1,1,1s1-0.4,1-1v-8.4l0.8,0.8c0.2,0.2,0.4,0.3,0.7,0.3
    			c0.2,0,0.5-0.1,0.7-0.3C26,13.8,26,13.1,25.6,12.8" />
                      </g>
                    </g>
                    <g id="Layer_2">
                      <path id="XMLID_145_" class="st2" d="M24.4,20.8c0.5,0,0.9-0.4,0.9-0.9v-6.5c0-2-1.6-3.6-3.6-3.6h-1.4V2.9c0-0.5-0.4-0.9-0.9-0.9H8
    		C7.5,2,7.1,2.4,7.1,2.9v6.8H5.7c-2,0-3.6,1.6-3.6,3.6v6.5c0,2,1.6,3.6,3.6,3.6h1.4v0.9c0,0.5,0.4,0.9,0.9,0.9h11.4
    		c0.5,0,0.9-0.4,0.9-0.9v-0.9h1.4c2,0,3.6-1.6,3.6-3.6c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9c0,1-0.8,1.8-1.8,1.8h-1.4v-3.8
    		h0.5c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9H6.6c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h0.5v3.8H5.7c-1,0-1.8-0.8-1.8-1.8v-6.5
    		c0-1,0.8-1.8,1.8-1.8h16c1,0,1.8,0.8,1.8,1.8v6.5C23.5,20.3,23.9,20.8,24.4,20.8 M8.9,17.9h9.5v5.6H8.9V17.9z M18.4,9.7H8.9V3.9
    		h9.5V9.7z" />
                    </g>
                  </svg>
                </a>
              </li>
    
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title=""><svg version="1.1"
                    id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 27.3 27.3" style="enable-background:new 0 0 27.3 27.3;" xml:space="preserve">
                    <style type="text/css">
                      .st_home {
                        fill: #B08B43;
                      }
                    </style>
                    <g>
                      <path class="st_home" d="M25.6,12.8l-10-10.1L14.9,2c-0.8-0.7-2-0.7-2.7,0.2c-0.3,0.4-0.4,0.4-0.5,0.5L1.6,12.8c-0.4,0.4-0.4,1,0,1.4
    		c0.4,0.4,1,0.4,1.4,0l0.8-0.8v9.2c0,1.6,1.3,2.9,2.9,2.9H12c0,0,0,0,0,0v-8.8h3.4v8.8c0,0,0,0,0,0h4.3c2.1,0,3.8-1.7,3.8-3.8
    		c0-0.5-0.4-1-1-1c-0.7,0-1.2,0.8-0.8,1.5c0.4,0.6-0.2,1.4-0.9,1.4l-3.6,0v-8.8c0,0,0,0,0,0h-7.2v8.8H6.6c-0.5,0-1-0.4-1-1V11.5
    		c0,0,0,0,0,0l7.4-7.4c0.4-0.3,0.9-0.3,1.2,0l7.3,7.3v10.3c0,0.5,0.4,1,1,1s1-0.4,1-1v-8.4l0.8,0.8c0.2,0.2,0.4,0.3,0.7,0.3
    		c0.2,0,0.5-0.1,0.7-0.3C26,13.8,26,13.1,25.6,12.8" />
                    </g>
                  </svg>
                </a>
              </li>
            </ul>                                                                         
  
          </nav>
        </div>
  
        <div class="mbox-1 logo">
          <a class="site-logo" href="index_ar.html">
            <img src="assets/images/mckd-website-rating.png">
          </a>
          <a class="second-logo">
  
            <img src="assets/images/logo.png">
          </a>
        </div>
  
  
  
  
  
      </div>
  
      <div class="menu-row menu-list">
        <div class="mbox-2 " id="master_menu">
          <nav class="navbar-inner ">
            <ul class="navbar-nav ">
  
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.aboutUs' | translate }}</a>
              </li>
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.legislation' | translate }}</a>
              </li>
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.services' | translate }}</a>
              </li>
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.projects' | translate }}</a>
  
              </li>
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.media' | translate }}</a>  
              </li>
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.openData' | translate }}</a>
  
              </li>              
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.e-participation' | translate }}</a>
  
              </li>
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" data-href="#home" aria-title="">{{ 'headerMenus.contact' | translate }} </a>
              </li>             
            </ul>
  
          </nav>
        </div>
  
  
  
      </div>
  
      <div class="menu-row burger-menu-list">
        <div class="mbox-2 " id="master_menu">
          <nav class="navbar-inner ">
            <ul class="navbar-nav ">
  
              <li class="nav-item  ">
                <a href="index_ar.html" class="nav-link scroll" aria-title="">عن الوزارة </a>
  
              </li>
  
              <li class="nav-item  ">
  
                <a href="index_ar.html" class="nav-link scroll" aria-title=""> التشريعات </a>
  
              </li>
  
              <li class="nav-item  ">
  
                <a href="index_ar.html" class="nav-link scroll" aria-title=""> الخدمات</a>
  
              </li>
  
              <li class="nav-item  ">
  
                <a href="index_ar.html" class="nav-link scroll" aria-title=""> المشروعات </a>
              </li>
  
            </ul>
  
          </nav>
        </div>
  
  
  
      </div>
  
    </div>
  </header>